.Tile {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 20px rgb(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px;
  margin: 10px;

  transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
  &:hover {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }

  img {
    position: absolute;
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
  @media (max-width: 768px) {
    position: relative;
    top: 0 !important;
    left: 0 !important;
  }
}

.TileBig {
  width: 120px;
  height: 120px;
  padding: 15px;
  img {
    width: 90px;
    height: 90px;
  }
  @media (max-width: 768px) {
    width: 80px;
    height: 80px;
    padding: 10px;
    img {
      width: 60px;
      height: 60px;
    }
  }
}
