.About {
  min-height: 80vh;
  font-size: 4rem;
  padding-top: 20px;
  position: relative;
  margin-bottom: 60px;

  h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 16px;
    width: 100%;
  }

  @media (max-width: 1024px){
    min-height: 95vh;
  }

  div {
    max-width: 56%;
    @media (max-width: 1024px){
      font-size: 21px;
      max-width: 60%;
    }
    @media (max-width: 768px){
      max-width: 100%;
      padding-bottom: 20px;
    }
    p {
      margin-bottom: 8px;
      margin-top: 0;
    }
  }
}
