.Projects {
  min-height: 120vh;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 50px;
  column-gap: 50px;
  padding-top: 30px;
  margin-bottom: 100px;

  h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}
