@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
  --primary-color: #0064c8;
  --secondary-color: #00dcfa;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
